@font-face {
  font-family: gilroyRegular;
  src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: gilroyMedium;
  src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: gilroySemiBold;
  src: url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: gilroyBold;
  src: url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: gilroyExtraBold;
  src: url(../fonts/Gilroy-ExtraBold.ttf);
}

@font-face {
  font-family: gilroyBlack;
  src: url(../fonts/Gilroy-Black.ttf);
}

@font-face {
  font-family: gilroyHeavy;
  src: url(../fonts/Gilroy-Heavy.ttf);
}

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  font-family: gilroyMedium;
}

body.fixed-body {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.content-container {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

/* nav bar  */
.nav-bar {
  position: absolute;
  width: 100%;
  top: 0;
}
.nav-bar .left-nav .logo-container img {
  height: 30px;
}

.nav-bar .right-nav .link-container .nav-link {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  font-family: gilroySemiBold;
  margin-right: 30px !important;
  padding: 30px 0 !important;
  position: relative;
}

.nav-bar .right-nav .link-container .nav-link:nth-last-child(1) {
  margin-right: 0 !important;
}

.nav-bar .right-nav .link-container .nav-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2e2cd7;
  display: none;
}

.nav-bar .right-nav .link-container .nav-link.active::after {
  display: block;
}

.nav-bar .right-nav .btn-container a {
  background-color: #2e2cd7;
  padding: 12px 28px !important;
  color: #ffffff;
  margin-left: 40px !important;
  font-family: gilroySemiBold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.nav-bar .right-nav .btn-container a::before {
  content: "";
  width: 40%;
  height: 200%;
  background-color: #ffffff1e;
  position: absolute;
  top: -50%;
  left: -100%;
  transform: rotate(30deg);
  transition: all 1s ease;
}

.nav-bar .right-nav .btn-container a:hover::before {
  left: 200%;
}

.nav-tab {
  height: 16px;
  display: none;
}

.nav-tab span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #000000;
}

/* mobile nav  */
.mobile-nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -100%;
  z-index: 999999;
  background-color: #ffffff;
}

.mobile-nav a {
  font-size: 38px;
  font-family: gilroyMedium;
  margin: 10px !important;
  color: #000000;
  text-decoration: none;
}

.mobile-nav .close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* head container  */
.head-container {
  height: 800px;
  margin-bottom: 100px !important;
  position: relative;
  overflow: hidden;
}

.head-container .right-wrapper {
  background-color: #ebf3ff;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  z-index: -1;
  padding: 124px 100px 100px 100px !important;
}

.head-container .right-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.head-container .head-box {
  padding-left: 100px !important;
  position: relative;
}

.head-container .head-box img {
  position: absolute;
  top: -90px;
  left: 90px;
}

.head-container .head-box .title h1 {
  font-size: 40px;
  font-family: gilroyBold;
  color: #2e2cd7;
  margin-bottom: 6px !important;
}

.head-container .head-box .title h2 {
  font-size: 40px;
  font-family: gilroyBold;
}

.head-container .head-box .social-media-box > div {
  height: 2px;
  width: 20px;
  background-color: #2e2cd7;
  margin-right: 10px !important;
}

.head-container .head-box .social-media-box .inner-text {
  color: #6c6c6c;
  font-size: 18px;
  font-family: gilroySemiBold;
  margin-right: 20px !important;
  position: relative;
}

.head-container .head-box .social-media-box .inner-text:nth-last-child(1) {
  margin-right: 0 !important;
}

.head-container .head-box .social-media-box .inner-text.facebook-text::before {
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ebebff;
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 20px);
  z-index: -1;
}

.head-vector {
  position: absolute;
  z-index: -1;
  animation: rotatingVector 5s infinite linear;
}

.head-vector-ball {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ebebff;
}

.head-vector-circle {
  height: 20px;
  width: 20px;
  border: 4px solid #2f2cd775;
  border-radius: 50%;
}

.head-vector-square {
  height: 20px;
  width: 20px;
  border: 4px solid #2f2cd775;
}

.head-vector-plus {
  position: absolute;
  width: 20px;
  height: 20px;
}

.head-vector-plus::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #2f2cd775;
  transform: rotate(45deg);
}

.head-vector-plus::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #2f2cd775;
  transform: rotate(-45deg);
}

.head-vector img {
  height: 18px;
}

/* experience container  */
.experience-container {
  margin-bottom: 70px !important;
  position: relative;
  overflow: hidden;
}

.experience-container .title h1 {
  font-size: 36px;
  font-family: gilroyBold;
  text-align: center;
}

.experience-container .title h1 span {
  color: #2e2cd7;
}

.experience-container .info p {
  font-family: gilroyMedium;
  font-size: 18px;
  text-align: center;
  color: #6c6c6c;
}

.experience-container .box {
  margin: 10px 50px 30px 50px !important;
  transition: all 0.3s ease;
}

.experience-container .box:hover {
  transform: scale(0.9);
}

.experience-container .box .img-container {
  width: 40px;
  height: 40px;
}

.experience-container .box .img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.experience-container .box p {
  color: #6c6c6c;
  text-align: center;
  font-family: gilroySemiBold;
}

.exp-vector {
  position: absolute;
  z-index: -1;
  animation: rotatingVector 5s infinite linear;
}

@keyframes rotatingVector {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.exp-vector-dot {
  height: 10px;
  width: 10px;
  background-color: #2f2cd775;
  border-radius: 50%;
}

.exp-vector-circle {
  height: 20px;
  width: 20px;
  border: 4px solid #2f2cd775;
  border-radius: 50%;
}

.exp-vector-square {
  height: 20px;
  width: 20px;
  border: 4px solid #2f2cd775;
}

.exp-vector-plus {
  position: absolute;
  width: 20px;
  height: 20px;
}

.exp-vector-plus::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #2f2cd775;
  transform: rotate(45deg);
}

.exp-vector-plus::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #2f2cd775;
  transform: rotate(-45deg);
}

/* about container */
.about-container {
  margin: 100px 0 !important;
  position: relative;
  overflow: hidden;
}

.about-container .image-container {
  max-width: 500px;
  max-height: 700px;
}

.about-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-container .box .title h5 {
  color: #2e2cd7;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 14px;
  font-family: gilroyBold;
  margin-bottom: 4px !important;
}

.about-container .box .title h1 {
  font-size: 36px;
  font-family: gilroyBold;
}

.about-container .box .info p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-family: gilroyMedium;
}

.about-container .box .btn-container a {
  background-color: #2e2cd7;
  padding: 10px 30px !important;
  color: #ffffff;
  font-family: gilroyBold;
  font-size: 14px;
  text-decoration: none;
}

.about-vector {
  position: absolute;
  z-index: -1;
  animation: rotatingVector 5s infinite linear;
}

@keyframes rotatingVector {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about-vector-dot {
  height: 10px;
  width: 10px;
  background-color: #2f2cd775;
  border-radius: 50%;
}

.about-vector-circle {
  height: 20px;
  width: 20px;
  border: 4px solid #2f2cd775;
  border-radius: 50%;
}

.about-vector-square {
  height: 20px;
  width: 20px;
  border: 4px solid #2f2cd775;
}

.about-vector-plus {
  position: absolute;
  width: 20px;
  height: 20px;
}

.about-vector-plus::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #2f2cd775;
  transform: rotate(45deg);
}

.about-vector-plus::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #2f2cd775;
  transform: rotate(-45deg);
}

/* partner container  */
.partner-container {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
  position: relative;
  overflow: hidden;
}

.partner-container .title h1 {
  font-family: gilroyBold;
  font-size: 36px;
  text-align: center;
}

.partner-container .info p {
  text-align: center;
  color: #6c6c6c;
}

.partner-container .image-container img {
  margin: 0 40px !important;
}

.partner-container hr {
  margin-top: 40px !important;
  border-top: 1px solid #c4c4c47a;
}

.partner-vector {
  position: absolute;
  z-index: -1;
  animation: rotatingVector 5s infinite linear;
}

.partner-vector img {
  height: 16px;
}

/* team container  */
.team-container {
  padding-bottom: 130px !important;
}

.team-container .left-team .title {
  position: relative;
}

.team-container .left-team .title h1 {
  font-size: 34px;
  font-family: gilroyBold;
}

.team-container .left-team .title img {
  position: absolute;
  height: 12px;
  width: 12px;
}

.team-container .left-team .title img.first-img {
  top: calc(50% - 6px);
  right: -15px;
}

.team-container .left-team .title img.second-img {
  bottom: -16px;
  left: 60px;
}

.team-container .left-team .info {
  position: relative;
}

.team-container .left-team .info p {
  color: #6c6c6c;
  font-size: 14px;
  font-family: gilroyMedium;
}

.team-container .left-team .info img {
  position: absolute;
  height: 12px;
  width: 12px;
  right: 70px;
  bottom: -40px;
}

.team-container .right-team .list-container {
  margin-bottom: 20px !important;
}

.team-container .right-team .list-box {
  margin-right: 40px !important;
}

.team-container .right-team .list-box h1 {
  font-size: 16px;
  font-family: gilroyBold;
}

.team-container .right-team .list-box p {
  color: #6c6c6c;
  font-size: 14px;
  font-family: gilroySemiBold;
}

.team-container .right-team .explore-link a {
  color: #2e2cd7;
  font-size: 16px;
  font-family: gilroyBold;
  text-decoration: underline;
}

/* banner container  */
.banner-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* footer  */
.footer-container {
  background-color: #000000;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.footer-container .title h1 {
  font-family: gilroySemiBold;
  color: #ffffff;
  font-size: 30px;
}

.footer-container .info h1 {
  font-size: 16px;
  color: #ffffff;
}

.footer-container .info p {
  color: #888888;
}

.footer-container .policy h1 {
  color: #888888;
  font-size: 16px;
}

.footer-container .policy p {
  color: #888888;
}

.footer-container .policy p span {
  font-family: gilroySemiBold;
}

.footer-container .policy a {
  text-decoration: none;
  color: #ffffff;
}

/* modal  */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.modal-wrapper.hidden {
  display: none;
}

.modal-wrapper .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-wrapper p {
  text-transform: uppercase;
}

.modal-wrapper .image-container .spinner-img {
  height: 50px;
}

/* responsive  */
@media (max-width: 1200px) {
  .head-container .right-wrapper {
    padding: 124px 60px 100px 60px !important;
  }
}

@media (max-width: 1023px) {
  .content-container {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .head-container {
    height: 700px;
  }
  .head-container .right-wrapper {
    width: 55%;
    padding: 124px 40px 80px 40px !important;
  }
  .head-container .head-box {
    padding-left: 50px !important;
  }
}

@media (max-width: 900px) {
  .head-container {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .content-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .nav-bar {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .nav-bar .link-container {
    display: none;
  }
  .nav-bar .btn-container {
    display: none;
  }
  .nav-tab {
    display: flex;
  }
  .nav-bar .left-nav .logo-container img {
    height: 28px;
  }
  .head-container {
    height: 500px;
    justify-content: center;
    margin-bottom: 50px !important;
  }
  .head-container .right-wrapper {
    opacity: 0.2;
    width: 100%;
  }
  .head-container .head-box {
    padding-left: 20px !important;
  }
  .head-container .head-box .title h1 {
    text-align: center;
    font-size: 38px;
  }
  .head-container .head-box .title h2 {
    text-align: center;
    font-size: 38px;
  }
  .head-container .head-box .social-media-box {
    justify-content: center;
  }
  .head-container .right-wrapper {
    padding: 124px 30px 50px 30px !important;
  }
  .head-container .head-box img {
    top: -50px;
  }
  .experience-container .title h1 {
    font-size: 32px;
  }
  .experience-container .info p {
    font-size: 16px;
  }
  .experience-container .box {
    margin: 10px 40px 30px 40px !important;
  }
  .experience-container {
    margin-bottom: 60px !important;
  }
  .about-container .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-container .image-container {
    margin-bottom: 50px !important;
  }
  .about-container .box {
    padding-left: 0 !important;
  }
  .about-container .box .title h1 {
    font-size: 32px;
  }
  .partner-container .title h1 {
    font-size: 32px;
  }
  .partner-container .image-container img {
    margin: 0 30px !important;
  }
  .team-container {
    flex-direction: column;
    align-items: center;
  }
  .team-container .left-team {
    margin-bottom: 40px !important;
  }
  .team-container .left-team .title {
    text-align: center;
  }
  .team-container .left-team .info p {
    text-align: center;
  }
  .team-container .right-team .list-box {
    margin: 0 !important;
  }
  .team-container .right-team {
    width: 100%;
  }
  .team-container .right-team .list-container {
    justify-content: space-between;
  }
  .team-container .right-team .explore-link {
    display: flex;
    justify-content: center;
  }
  .team-container .left-team .title h1 {
    font-size: 32px;
  }
  .team-container .left-team .title img.first-img {
    right: 10%;
  }
  .about-container {
    margin: 90px 0 !important;
  }
}

@media (max-width: 550px) {
  .content-container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .head-container .head-box {
    padding-left: 10px !important;
  }
  .head-container .head-box .title h1 {
    font-size: 36px;
  }
  .head-container .head-box .title h2 {
    font-size: 36px;
  }
  .experience-container .title h1 {
    font-size: 34px;
  }
  .experience-container .info p br {
    display: none;
  }
  .about-container .box .title h1 {
    font-size: 30px;
  }
  .partner-container .title h1 {
    font-size: 30px;
  }
  .partner-container .info p br {
    display: none;
  }
  .partner-container .image-container img {
    margin: 0 20px !important;
  }
  .team-container .left-team .title h1 {
    font-size: 30px;
  }
  .footer-container .policy {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-container .policy .left-policy {
    margin-bottom: 1.5rem !important;
  }
}

@media (max-width: 450px) {
  .head-container .head-box .title h1 {
    font-size: 34px;
  }
  .head-container .head-box .title h2 {
    font-size: 34px;
  }
  .experience-container .title h1 br {
    display: none;
  }
  .experience-container .title h1 {
    font-size: 30px;
  }
  .experience-container .info p {
    font-size: 14px;
  }
  .experience-container .box p {
    font-size: 14px;
  }
  .team-container .left-team .info p br {
    display: none;
  }
}
